[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
requests = "*"
beautifulsoup4 = "*"
ipykernel = "*"
jupyter = "*"
selenium = "*"
pillow = "*"
pytesseract = "*"
gensim = "*"
jupyterlab = "*"
matplotlib = "*"
ipympl = "*"
fasttext = "*"
scipy = "*"
nltk = "*"
flair = "==0.4.3"
allennlp = "*"
wikipedia = "*"

[requires]
python_version = "3.7"
